* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

/* NAVBAR */
.navbar {
  background: #1f7a4d;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.cart-count {
  background: yellow;
  padding: 2px 7px;
  border-radius: 50%;
  margin-left: 5px;
}

/* LANDING */
.landing {
  height: 90vh;
  background: url("https://img.freepik.com/free-vector/green-plant-doodle-frame-vector-with-blank-space_53876-136737.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* PRODUCTS */
.products {
  padding: 30px;
}

.category {
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* CART */
.cart {
  padding: 30px;
}

.cart-item {
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
